@model IEnumerable<DynamicCharts.Models.PieChart>
@{
    ViewData["Title"] = "Index";
}

<div id="container1">

    @* ToolBox Area *@
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-green-sharp"></i>
                <span class="caption-subject font-green-sharp bold uppercase">Charts</span>
            </div>

        </div>
        <div class="portlet-body">
            <a href="javascript:;" class="icon-btn">
                <i class="fa fa-group"></i>
                <div> Users </div>
                <span class="badge badge-danger"> 2 </span>
            </a>
            <a href="javascript:;" class="icon-btn">
                <i class="fa fa-barcode"></i>
                <div> Products </div>
                <span class="badge badge-success"> 4 </span>
            </a>
            <a href="javascript:;" class="icon-btn">
                <i class="fa fa-bar-chart-o"></i>
                <div> Vertical bar </div>
                <span class="badge badge-success"> 5 </span>
            </a>
            <a v-on:click="add()" href="javascript:;" class="icon-btn">
                <i class="fa fa-pie-chart"></i>
                <div> Pie Chart </div>
                <span class="badge badge-success"> 6 </span>
            </a>
            <a href="javascript:;" class="icon-btn">
                <i class="fa fa-calendar"></i>
                <div> Calendar </div>
                <span class="badge badge-success"> 4 </span>
            </a>
            <a href="javascript:;" class="icon-btn">
                <i class="fa fa-envelope"></i>
                <div> Inbox </div>
                <span class="badge badge-info"> 12 </span>
            </a>
            <a href="javascript:;" class="icon-btn">
                <i class="fa fa-bullhorn"></i>
                <div> Notification </div>
                <span class="badge badge-danger"> 3 </span>
            </a>
            <a href="javascript:;" class="icon-btn">
                <i class="fa fa-map-marker"></i>
                <div> Locations </div>
            </a>
            <a href="javascript:;" class="icon-btn">
                <i class="fa fa-money">
                    <i></i>
                </i>
                <div> Finance </div>
            </a>
            <li class="dropdown dropdown-quick-sidebar-toggler">
                <a href="javascript:;" class="dropdown-toggle">
                    <i class="icon-logout"></i>
                </a>
            </li>
        </div>


    </div>
    <br />

    @* Dashboard Area*@

    <dashboard ref="mydash" ></dashboard>

    @* Side Bar Area*@


    <a href="javascript:;" class="page-quick-sidebar-toggler">
        <i class="icon-login"></i>
    </a>
    <div class="page-quick-sidebar-wrapper" data-close-on-body-click="false">
        <div class="page-quick-sidebar">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="javascript:;" data-target="#quick_sidebar_tab_1" data-toggle="tab" aria-expanded="true">
                        Pages
                        <span class="badge badge-danger">2</span>
                    </a>
                </li>
                <li class="">
                    <a href="javascript:;" data-target="#quick_sidebar_tab_2" data-toggle="tab" aria-expanded="false">
                        Settings
                        <span class="badge badge-success">7</span>
                    </a>
                </li>
                <li class="">
                    <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab" aria-expanded="false">
                        Filters
                        <span class="badge badge-success">7</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane page-quick-sidebar-chat active" id="quick_sidebar_tab_1">
                    <div class="page-quick-sidebar-list" style="position: relative; overflow: hidden; width: auto; height: 684px;">
                        <div class="tab-pane active" id="tab_actions_pending">
                            <!-- BEGIN: Actions -->
                            <div class="mt-actions">

                                <template v-for="(element, index) in dashboards">
                                    <div class="mt-action" v-on:click="select(element)">

                                        <div class="mt-action-body">
                                            <div class="mt-action-row">
                                                <div class="mt-action-info ">
                                                    <div class="mt-action-icon ">
                                                        <i class="fa fa-line-chart"></i>
                                                    </div>
                                                    <div class="mt-action-details ">
                                                        <span class="mt-action-author">{{element.title}}</span>

                                                    </div>
                                                </div>
                                                <div class="mt-action-datetime ">
                                                    <span class="mt-action-date">{{element.date}}</span>

                                                </div>
                                                <div class="mt-action-buttons ">
                                                    <a href="javascript:;" class="btn btn-circle red-sunglo ">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                            <!-- END: Actions -->
                        </div>

                    </div>
                </div>
                <div class="tab-pane page-quick-sidebar-chat active" id="quick_sidebar_tab_2">
                    <div class="page-quick-sidebar-list" style="position: relative; overflow: hidden; width: auto; height: 684px;">

                    </div>
                </div>
                <div class="tab-pane page-quick-sidebar-chat active" id="quick_sidebar_tab_3">
                    <div class="page-quick-sidebar-list" style="position: relative; overflow: hidden; width: auto; height: 684px;">

                    </div>
                </div>

            </div>
        </div>
    </div>




</div>





<style>
    .draggable {
        background-color: lightgray;
        padding: 2em;
        float: left;
        margin: 10px 10px 10px 0;
    }

    #droppable {
        background-color: cornflowerblue;
        width: 600px;
        height: 800px;
        padding: 0.5em;
        float: left;
        margin: 10px;
    }

    .viewport {
        width: 320px;
        max-width: 100%;
        display: inline-block;
        vertical-align: top;
        overflow: auto;
        border: 1px solid;
    }
</style>
@section VueComponents
{
    <script src="~/js/utils/dom.js"></script>
    <script src="~/js/portlet-draggable.js"></script>
    <script src="~/Components/draggable.js"></script>
    <script src="~/Components/vue-highcharts.js"></script>
    <script src="~/Components/piechart.js"></script>
    <script src="~/Components/dashboard.js"></script>
}

@section Scripts
{
  
    <script src="~/js/app.js"></script>

    <script src="~/Components/item.js"></script>
    <script src="~/js/quick-sidebar.js"></script>
   

   

    <script src="https://cdn.jsdelivr.net/npm/vue-feather-icons@4.7.1/dist/vue-feather-icons.min.js"></script>
    


}

