
@{
    ViewData["Title"] = "test";
}


<div id="container1">

    @* <div  align="end" :style="{ display: enabled ? ' block ' : 'none'}" >
                        <img src="/img/delete.png"  width="30" height="30" v-on:click="deleteItem()" />
                    </div> *@

</div>

<style>
    .draggable {
        background-color: lightgray;
        padding: 2em;
        float: left;
        margin: 10px 10px 10px 0;
    }

    #droppable {
        background-color: cornflowerblue;
        width: 600px;
        height: 800px;
        padding: 0.5em;
        float: left;
        margin: 10px;
    }

   
</style>






@section Scripts
{ 
    
  
    <script src="~/js/portlet-draggable.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/Components/draggable.js"></script>
    <script src="~/Components/vue-highcharts.js"></script>
    <script src="~/Components/piechart.js"></script>
    <script src="~/data/data.js"></script>
}
