
@{
    ViewData["Title"] = "test";
}
<body>
    <div class="container" style="margin-top:250px;">
        
        <greeter>
            <p>You can drag me around and resize me as you wish.</p>
        </greeter>
       
    </div>
</body>
<script src="~/Components/item.js"></script>